@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 20px;

    header {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 20px;

        img {
            animation: rotate ease-in-out infinite 5s;
            margin-top: 50px;
            max-width: 100px;
        }
    }

    section {
        margin: 0 50px;
        margin-top: 30px;

        p {
            font-size: 20px;
            text-align: center;
        }
        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            margin-left: 30px;
        }

        .images_container {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                max-width: 300px;
            }

            @media (max-width: 800px) {
                flex-direction: column;
            }
        }

        .triangleFigures {
            gap: 30px;
        }

        .prismaFigures {
            justify-content: flex-start;
        }

        .pyramide-triangle {
            img {
                max-width: 600px;
            }
        }
    }
}

@keyframes rotate {
    50% {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0px) rotate(360deg);
    }
}
